.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
libraries
library
app/libs/
app/src/libs/
app/src/main/assets/
app/src/main/java/com/example/xieshengqi/bean/
libraries/libs/
libraries/src/main/java/
libraries/src/main/res/drawable/
library/build/generated/assets/
library/build/generated/res/
library/build/generated/source/aidl/
library/build/generated/source/rs/
library/build/intermediates/annotations/
library/build/intermediates/assets/
library/build/intermediates/bundles/debug/aidl/
library/build/intermediates/bundles/debug/assets/
library/build/intermediates/bundles/default/aidl/
library/build/intermediates/bundles/default/assets/
library/build/intermediates/bundles/release/aidl/
library/build/intermediates/bundles/release/assets/
library/build/intermediates/dependency-cache/
library/build/intermediates/exploded-aar/com.android.support/support-v4/22.2.0/assets/
library/build/intermediates/exploded-aar/com.android.support/support-v4/22.2.0/libs/
library/build/intermediates/exploded-aar/com.android.support/support-v4/22.2.0/res/
library/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
library/build/intermediates/incremental/packageDebugAndroidTest/
library/build/intermediates/incremental/processDebugAndroidTestResources/
library/build/intermediates/incremental/processDebugResources/
library/build/intermediates/lint/
library/build/intermediates/manifest/tmp/
library/build/intermediates/rs/
library/build/intermediates/shaders/
library/build/tmp/compileDebugJava/
library/build/tmp/compileReleaseJava/
